*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Wrapper {
   display:grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: minmax(200px, 50%);
   padding: 40px;
 }
@font-face {
  font-family: 'Roboto Slab', serif;
  src:url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold", serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;700&display=swap');
}

.Header {
  height: 40px;
  background-color: rgb(230, 228, 228);
  padding: 5px 50px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(190, 31, 31);
  font-size: 22px;
  font-weight: 900;
  line-height: 30px;
  font-family: 'Roboto', serif;
}

.Block {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  padding: 0 35px;
  margin:25px;
}
.text {
  padding:0 30px;
}
.Image-main {
  padding: 20px;
}
.Image-small {
  display:flex;
  justify-content:space-between;
  padding: 20px;

}
.main-img {
  width:auto;
}
.main-img:hover {
  background-color:lightcoral;
  transform: rotate(180deg);
}
.small-img {
  width: 20%;
  padding: 1px;
  outline: 1px solid rgb(59, 59, 59);
}
.small-img:hover {
  transform:scale(1.5);
}
.About {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;

} 
.About:hover {
  color:rgb(253, 253, 253);
  background-color: rgb(0, 0, 0);
}
.Description {
  font-family:'Noto Sans Mono', monospace;
  margin-top: 10px;
  text-align: justify;
  font-size: 12px; 
}